In [1]:
import sqlite3

In [2]:
import pandas as pd
import numpy as np

In [3]:
conn = sqlite3.connect('fake_social_network.db')

In [6]:
query = "SELECT * FROM Friend"
Friend = pd.read_sql(query, conn)

In [7]:
Friend

      id  user_id  friend_id                  created_at
0      1        1         39  2025-01-03 10:23:05.422580
1      2        1         40  2025-01-17 04:13:24.721780
2      3        1         14  2025-01-24 23:33:15.521686
3      4        1         44  2025-01-20 03:37:57.020562
4      5        2         13  2025-01-05 06:26:03.512397
..   ...      ...        ...                         ...
502  503       99         62  2025-01-14 01:53:32.161267
503  504       99         89  2025-01-08 10:48:40.606649
504  505       99         82  2025-01-10 22:27:32.701231
505  506       99         94  2025-01-09 12:36:31.053249
506  507      100         76  2025-01-20 04:27:28.240118

[507 rows x 4 columns]

In [11]:
query = "SELECT * FROM FriendRequest"
FriendRequest = pd.read_sql(query, conn)

In [12]:
FriendRequest

,id,sender_id,receiver_id,status,created_at,updated_at
0,1,2,31,accepted,2025-01-10 16:52:13.594558,2025-01-25 15:18:09.657567
1,2,27,18,declined,2025-01-06 16:00:44.993587,2025-01-22 20:07:05.024940
2,3,25,7,accepted,2025-01-19 23:18:23.120776,2025-01-06 08:53:13.415954
3,4,33,43,declined,2025-01-06 12:15:42.959546,2025-01-21 04:03:27.714435
4,5,20,17,declined,2025-01-12 03:21:46.732738,2025-01-16 12:03:08.526940
...,...,...,...,...,...,...
94,95,55,100,declined,2025-01-16 19:58:10.002099,2025-01-07 11:44:14.750874
95,96,61,95,accepted,2025-01-26 07:34:26.624849,2025-01-20 03:18:32.893238
96,97,77,61,cancelled,2025-01-24 20:28:13.051183,2025-01-01 11:17:24.221755
97,98,76,73,declined,2025-01-18 16:09:06.536211,2025-01-18 18:16:29.120546
98,99,97,53,pending,2025-01-25 10:27:31.241905,2025-01-03 02:23:56.371208

In [13]:
query = "SELECT * FROM Post"
Post = pd.read_sql(query, conn)

In [14]:
Post

,id,user_id,body,created_at,updated_at
0,1,1,Campaign type fact career affect new large exi...,2025-01-11 05:05:14.108649,2025-01-03 13:24:01.324700
1,2,1,Father hot money Mrs recognize late. Follow cl...,2025-01-01 06:45:39.920206,2025-01-04 14:24:45.548330
2,3,2,Several particularly learn including commercia...,2025-01-14 11:12:22.606138,2025-01-17 05:12:25.031789
3,4,3,Card dream scientist turn long mouth exist per...,2025-01-21 03:58:23.677513,2025-01-05 17:20:58.210271
4,5,3,No imagine expect hair of and. Consider free l...,2025-01-20 08:30:20.143015,2025-01-21 00:38:15.256166
...,...,...,...,...,...
284,285,98,Growth environment rest southern. More movemen...,2025-01-01 22:56:36.273960,2025-01-10 19:09:36.598151
285,286,99,Bring perhaps member than carry sport. Adult s...,2025-01-05 04:18:51.914534,2025-01-18 12:24:35.285322
286,287,99,Else hit buy would fear. Director might milita...,2025-01-03 20:20:14.491898,2025-01-14 23:03:04.078441
287,288,100,Which above create especially ago drive dog to...,2025-01-05 17:50:26.869421,2025-01-15 12:40:48.674058
288,289,100,Research account around page. In rather item n...,2025-01-18 21:25:51.067784,2025-01-11 03:42:29.271031

In [17]:
query = "SELECT * FROM Notification"
Notification = pd.read_sql(query, conn)

In [18]:
Notification

,id,type,user_id,target_id,target_type,is_read,created_at,updated_at
0,1,comment,40,35,public,1,2025-01-06 01:48:33.101677,2025-01-18 07:06:52.630877
1,2,comment,21,15,suffer,1,2025-01-07 18:09:03.111727,2025-01-10 16:38:17.300007
2,3,friend_request,6,22,garden,0,2025-01-25 20:36:15.684523,2025-01-03 10:31:16.392840
3,4,friend_request,3,28,lawyer,0,2025-01-06 06:46:40.444836,2025-01-25 03:35:28.533852
4,5,comment,28,12,later,0,2025-01-15 16:54:22.314547,2025-01-18 11:31:20.759084
...,...,...,...,...,...,...,...,...
195,196,post,92,4,avoid,0,2025-01-04 21:04:39.063094,2025-01-19 09:55:39.572118
196,197,comment,74,36,agency,1,2025-01-23 20:02:53.034107,2025-01-08 16:25:52.674857
197,198,friend_request,52,39,up,1,2025-01-10 10:10:37.858539,2025-01-18 02:08:20.699901
198,199,post,99,47,them,0,2025-01-23 23:52:47.166665,2025-01-25 13:17:07.401926
199,200,post,76,28,us,1,2025-01-17 00:49:10.491781,2025-01-02 04:40:45.367249

In [20]:
query = "SELECT user_id, COUNT(*) AS total_posts FROM post GROUP BY user_id ORDER BY total_posts DESC"
total_posts = pd.read_sql(query, conn)

In [21]:
total_posts

    user_id  total_posts
0        97            5
1        96            5
2        86            5
3        55            5
4        53            5
..      ...          ...
95       20            1
96       18            1
97       17            1
98       11            1
99        2            1

[100 rows x 2 columns]

In [25]:
query = "SELECT user_id, COUNT(TYPE) AS comments FROM Notification WHERE type == 'comment' GROUP BY user_id ORDER BY comments DESC"
comments = pd.read_sql(query, conn)

In [26]:
comments

    user_id  comments
0        65         3
1        99         2
2        98         2
3        73         2
4        52         2
5        45         2
6        40         2
7        35         2
8        32         2
9        27         2
10       22         2
11       21         2
12      100         1
13       97         1
14       96         1
15       95         1
16       93         1
17       91         1
18       87         1
19       86         1
20       83         1
21       79         1
22       74         1
23       71         1
24       68         1
25       62         1
26       58         1
27       57         1
28       53         1
29       49         1
30       47         1
31       42         1
32       38         1
33       31         1
34       29         1
35       28         1
36       26         1
37       25         1
38       24         1
39       23         1
40       17         1
41       15         1
42       12         1
43       11         1
44        6         1
45        5         1
46        1         1

In [27]:
query = "SELECT sender_id, receiver_id, status FROM FriendRequest fr  WHERE status = 'accepted' GROUP BY sender_id, receiver_id ORDER BY sender_id "
Friendship_network = pd.read_sql(query, conn)

In [28]:
Friendship_network

    sender_id  receiver_id    status
0           1           33  accepted
1           2           31  accepted
2           5           16  accepted
3           6           48  accepted
4           7            6  accepted
5           8           46  accepted
6          17            2  accepted
7          17            4  accepted
8          20           47  accepted
9          25            4  accepted
10         25            7  accepted
11         40           19  accepted
12         44           12  accepted
13         44           18  accepted
14         56           98  accepted
15         60           58  accepted
16         61           95  accepted
17         68           51  accepted
18         68           90  accepted
19         73           85  accepted
20         77           97  accepted
21         80           72  accepted
22         81           97  accepted
23         87           52  accepted
24         87           99  accepted
25         90           67  accepted
26         92           81  accepted
27         98           97  accepted
28        100           57  accepted

In [30]:
query = "SELECT TIME(created_at) AS time, COUNT(*) AS count FROM Notification GROUP BY TIME(created_at) ORDER BY count"
count = pd.read_sql(query, conn)

In [31]:
count

         time  count
0    00:06:25      1
1    00:07:43      1
2    00:49:10      1
3    00:51:07      1
4    00:55:37      1
..        ...    ...
195  23:36:21      1
196  23:39:41      1
197  23:52:47      1
198  23:58:47      1
199  23:59:01      1

[200 rows x 2 columns]

In [32]:
query = "SELECT user_id, COUNT(TYPE) AS popular FROM Notification WHERE type == 'comment' GROUP BY user_id ORDER BY popular DESC"
popular = pd.read_sql(query, conn)

In [33]:
popular

    user_id  popular
0        65        3
1        99        2
2        98        2
3        73        2
4        52        2
5        45        2
6        40        2
7        35        2
8        32        2
9        27        2
10       22        2
11       21        2
12      100        1
13       97        1
14       96        1
15       95        1
16       93        1
17       91        1
18       87        1
19       86        1
20       83        1
21       79        1
22       74        1
23       71        1
24       68        1
25       62        1
26       58        1
27       57        1
28       53        1
29       49        1
30       47        1
31       42        1
32       38        1
33       31        1
34       29        1
35       28        1
36       26        1
37       25        1
38       24        1
39       23        1
40       17        1
41       15        1
42       12        1
43       11        1
44        6        1
45        5        1
46        1        1

In [34]:
query = "SELECT sender_id, COUNT(sender_id) AS sender_count, status FROM FriendRequest WHERE status = 'accepted' GROUP BY status ORDER BY sender_count DESC"
sender_count = pd.read_sql(query, conn)

In [35]:
sender_count

   sender_id  sender_count    status
0          2            29  accepted

In [ ]:
query = "SELECT sender_id, COUNT(sender_id) AS sender_count, status FROM FriendRequest fr GROUP BY status ORDER BY sender_count DESC"